/* * {
    border: solid 1px white;
} */


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */

:root {
    --ff-primary: "Darker Grotesque", sans-serif;

    --fw-reg: 400;
    --fw-mid: 500;
    --fw-bold: 700;

    --clr-transTop: rgba(85, 85, 85, 0.47) 0%;
    --clr-transBot: rgba(0, 0, 0, 0) 100%;
    --clr-accent: #318BDE;
    --clr-font: white;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.5rem;
        --fs-body: 1rem;
    }
    
}



/* General settings */




body {
    background: black;
    background-image: linear-gradient(var(--clr-transTop), var(--clr-transBot));
    color: var(--clr-font);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;

}

/* Nav */
nav {
    display: none;
}

section {
    padding: 2.5em 2.5em;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #318BDE;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 100%;
    margin-top: 2em;
}

strong {
    font-weight: var(--fw-bold);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
    
}

h3 {
    font-size: var(--fs-h3);

}

.intro_text {
    margin-bottom: .25em;
    text-align: center;
}

.intro_text strong {
    display: block;
}

.intro_para {
    text-align: center;
    margin: 0;
    margin-top: 1.5em;
    font-size: var(--fs-h3);
    letter-spacing: 0.02rem;
    background-color: rgb(38, 41, 44);
    padding: 1em;
    border-radius: 1em;
}

.heading_skills::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: #ffffff;
}
.heading_project::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: #ffffff;
    opacity: 0.7;
}

/* Skills Section */

.skills_section {
    margin-bottom: -4em;
}

.skills {
    margin: 0;
    display: grid;
    grid-template-areas: 
    "skill1 skill2 skill3"
    "skill4 skill5 skill6"
    "skill7 skill7 skill9"
    "skill1 . .";
    grid-template-columns: 1fr 1fr 1fr;

}

.skills h3 {
    padding: 1em;
}

/* Intro section */

 .intro_section {
    position: relative;
 }

@media (min-width: 600px) {
    
    .intro_section {

        margin: 0;
        grid-column-gap: 4em;
        display: grid;
        grid-template-areas: 
            "intro img"
            "intro_text img";
        grid-template-columns: 50% 125%;
    }

    .intro_text {
        grid-area: intro;
        margin-top: 1em;
        text-align: center;
    }


    .intro_img {
        grid-area: img;
        margin-top: 3em;
        margin-left: 2em;
        margin-right: 1em;
        /* min-width: 30%; */
        max-width: 33%;

    }

    .intro_para {
        grid-area: intro_text;
        padding: 1em;

        text-align: center;
    }



}



/* Skills section */


.heading_skills {
    margin-top: -1em;
    margin-bottom: 1em;

}

.skills {
    padding: 0;
}












/* project section */

